<h1 class="form-title">Create User Form</h1>
<div class="card">
    <form class="form-container" [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field>
        <mat-label>name user</mat-label>
        <input matInput formControlName="name">
        <mat-error>Имя введено неправильно</mat-error>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
          <mat-error *ngIf="form.controls['email'].hasError('required')">
            Email обязателен
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('email')">
            Email введён неправильно
          </mat-error>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Website</mat-label>
        <input matInput formControlName="website"> <!-- ✅ Добавлен matInput -->
        <mat-error *ngIf="form.controls['website'].invalid && (form.controls['website'].dirty || form.controls['website'].touched)">
          Website введён неправильно
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName">
        <mat-error *ngIf="form.controls['companyName'].invalid && (form.controls['companyName'].dirty || form.controls['companyName'].touched)">
          Название компании введено неправильно
        </mat-error>
      </mat-form-field>

      <button mat-flat-button class="add-user-btn" [disabled]="form.invalid">
          Create User
         <mat-icon>add</mat-icon>
      </button>
    </form>
</div>
