<h1 class="form-title">Create User Form</h1>
<div class="card">
    <form class="form-container" [formGroup]="form" (ngSubmit)="submitForm()">
        <label for="name">Name:</label>
        <input type="text" id="name" class="input-field" formControlName="name" />
        <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
            class="error-message">
            <div *ngIf="form.controls['name'].errors">Имя введено неправильно</div>
        </div>

        <label for="email">Email:</label>
        <input type="text" id="email" class="input-field" formControlName="email" />
        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
            class="error-message">
            <div *ngIf="form.controls['email'].errors">Email введено неправильно</div>
        </div>

        <label for="website">Website:</label>
        <input type="text" id="website" class="input-field" formControlName="website" />
        <div *ngIf="form.controls['website'].invalid && (form.controls['website'].dirty || form.controls['website'].touched)"
            class="error-message">
            <div *ngIf="form.controls['website'].errors">Website введено неправильно</div>
        </div>

        <label for="companyName">Company Name:</label>
        <input type="text" id="companyName" class="input-field" formControlName="companyName" />
        <div *ngIf="form.controls['companyName'].invalid && (form.controls['companyName'].dirty || form.controls['companyName'].touched)"
            class="error-message">
            <div *ngIf="form.controls['companyName'].errors">Company Name введено неправильно</div>
        </div>

        <button class="submit-btn" [disabled]="form.invalid">Create User</button>
    </form>
</div>
