<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="assets\logo-ege.svg" alt="logo">
    </div>
    <nav class="header-nav">
      <a class="header-nav-item" href="#" routerLink="/">{{header}}</a>
      <a class="header-nav-item" href="#" routerLink="user">{{userButton}}</a>
      <a class="header-nav-item" href="#">{{aboutCompany}}</a>
      <a class="header-nav-item" *ngIf="isShowCatalog" href="#">{{header3}}</a>
    </nav>
    <button (click)="isShowCatalog=!isShowCatalog">скрыть/паказать каталог</button>
    <button (click)="changeMenuText()">изминить текст</button>
  </div>
  <div class="header-right">
    <div class="header-right-logo">
    <img class="header-right-logo-phone" src="assets\phone-logo.svg" alt="logo-phone">
    </div>
    <div class="header-right-logo">
      <img src="assets\heart-logo.svg" alt="logo-heart">
    </div>
    <button class="header-right-basket">
      <img src="assets\basket.svg" alt="logo-basket" >
    </button>
    </div>
</div>

<div class="header-second">
  <nav class="header-nav">
    <div class="header-second-nav-item"><a href="#"><img class="menu" src="assets\icon-menu-burger.svg" alt="icon-menu"></a></div>
    <div class="header-second-nav-item" *ngFor="let item of menuItems"><a href="#">{{item}}</a></div>
    <!-- <div class="header-second-nav-item"><a href="#">Каталог</a></div>
    <div class="header-second-nav-item"><a href="#">Стройматериалы</a></div>
    <div class="header-second-nav-item"><a href="#">Инструменты</a></div>
    <div class="header-second-nav-item"><a href="#">Электрика</a></div>
    <div class="header-second-nav-item"><a href="#">Интерьер и одежда</a></div> -->
  </nav>
  <div class="header-second-right">
    <form>
      <input type="search" placeholder="Поиск, например Круг зачистной">
    </form>
    <div class="map">
      <button class="location" type="menu"><img src="assets\location-logo.svg" alt="location-logo"></button>
    </div>
  </div>
</div>
<button (click)="isShowImg=!isShowImg">скрыть/паказать картинку</button>
<div>
  <img *ngIf="isShowImg" src="\assets\bakcground-img-man.png" alt="bakcground-img-large" style="width: 100%;">
</div>


<router-outlet></router-outlet>

<div class="content-container">
<div class="item-cards">
  <div class="item-cards__pagination">
  <!-- <button *ngFor="let item of newPages" class="item-cards__pagination-buttonactive-button">{{item}}</button> -->
    <button class="item-cards__pagination-items" *ngFor="let item of newPages" >{{item}}</button>
    <!-- <button class="item-cards__pagination-items">2</button>
    <button class="item-cards__pagination-items">3</button>
    <button class="item-cards__pagination-items">4</button>
    <button class="item-cards__pagination-items">5</button> -->
  </div>
     <div class="item-cards__grid">
     <div class="item-cards__grid-left">
      <div class="item-cards__grid-left-text">
        Строительный отделочный инструмент
      </div>
      <div class="item-cards__grid-action">
        <span>Перейти в каталог</span>
        <a class="item-cards__grid-action-link">
          <img src="\assets\arrow.png" alt="стрелка">
        </a>
      </div>
     </div>
     <div class="item-cards__grid-right">
      <div class="item-cards__grid-right-block">
        <span>Эмали</span>
        <img src="\assets\enamel.png" alt="Enamel">
      </div>
      <div class="item-cards__grid-right-block">
        <span>Лакокрасочные материалы</span>
        <img src="\assets\varnish-materials.png" alt="varnish-materials">
      </div>
      <div class="item-cards__grid-right-block">
        <span>Пены, клеи и герметики</span>
        <img src="\assets\sealants.png" alt="Пены, клеи и герметики" height="180">
      </div>
      <div class="item-cards__grid-right-block">
        <span>Розетки и выключатели</span>
        <img src="\assets\sockets.png" alt="Розетки и выключатели">
      </div>
     </div>
     </div>
  </div>
</div>



