<div class="content-container">
<div class="item-cards">
  <div class="item-cards__pagination">
  <!-- <button *ngFor="let item of newPages" class="item-cards__pagination-buttonactive-button">{{item}}</button> -->
    <button class="item-cards__pagination-items" *ngFor="let item of newPages" >{{item}}</button>
    <!-- <button class="item-cards__pagination-items">2</button>
    <button class="item-cards__pagination-items">3</button>
    <button class="item-cards__pagination-items">4</button>
    <button class="item-cards__pagination-items">5</button> -->
  </div>
     <div class="item-cards__grid">
     <div class="item-cards__grid-left">
      <div class="item-cards__grid-left-text">
        Строительный отделочный инструмент
      </div>
      <div class="item-cards__grid-action">
        <span>Перейти в каталог</span>
        <a class="item-cards__grid-action-link">
          <img src="\assets\arrow.png" alt="стрелка">
        </a>
      </div>
     </div>
     <div class="item-cards__grid-right">
      <div class="item-cards__grid-right-block">
        <span>Эмали</span>
        <img src="\assets\enamel.png" alt="Enamel">
      </div>
      <div class="item-cards__grid-right-block">
        <span>Лакокрасочные материалы</span>
        <img src="\assets\varnish-materials.png" alt="varnish-materials">
      </div>
      <div class="item-cards__grid-right-block">
        <span>Пены, клеи и герметики</span>
        <img src="\assets\sealants.png" alt="Пены, клеи и герметики" height="180">
      </div>
      <div class="item-cards__grid-right-block">
        <span>Розетки и выключатели</span>
        <img src="\assets\sockets.png" alt="Розетки и выключатели">
      </div>
     </div>
     </div>
  </div>
</div>



