<div class="form-card">
  <form class="form-card_style" [formGroup]="form">
    <div class="form-container">
      <h1>CREATE Todo FORM </h1>

      <mat-form-field>
        <mat-label>user id</mat-label>
        <input matInput formControlName="userId">
        <mat-error *ngIf="form.controls['userId'].invalid && (form.controls['userId'].dirty || form.controls['userId'].touched)">
          id введено неправильно
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Введите заголовок">
        <mat-error *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)">
          Title введено неправильно
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Задача завершена?</mat-label>
        <input matInput formControlName="completed" placeholder="Да/Нет">
        <mat-error>Некорректное значение</mat-error>
      </mat-form-field>

      <button mat-flat-button class="add-user-btn" [disabled]="form.invalid"[mat-dialog-close]="todoWithUpdateFields">
        Pедактироавт
       <mat-icon>add</mat-icon>
    </button>
    </div>
  </form>
</div>
